/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-abr-2020, 9:29:02
    Author     : Vicent
*/

.ventana{
    -fx-background-color: white;
}

.titulo{
    -fx-text-fill: cornflowerblue;
    -fx-font-size: 24pt;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

.button{
    -fx-text-fill: cornflowerblue;
    -fx-font-weight: bold;
    -fx-background-color: #e0e0e0;
}

.default-color0.chart-bar{
    -fx-bar-fill: cornflowerblue;    
}

.tool-bar{
    -fx-background-color: #e0e0e0;
}


.chart-alternative-row-fill{
    -fx-fill:white;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart-plot-background{
    -fx-background-color:white;
}

.chart-vertical-grid-lines{
    -fx-stroke: #e0e0e0;
}

.chart-horizontal-grid-lines{
    -fx-stroke: #e0e0e0;
}

.axis{
    -fx-tick-label-fill:black;
}